<article class="content-item">
    <read-ability>
        <div slot="readable-text" class="content">
            <h2><%= name %></h2>
            <%- data %>
        </div>
    </read-ability>
</article>