<article class="content-item content-item--preview">
    <div class="content">
        <%- data %>
    </div>
    <div class="content-item-read">
        <a href="/content/<%= name %>">
            Read more...
        </a>
    </div>
</article>