<article class="content-item-preview">
    <a class="content-item-preview-link" href="/content/<%= name %>">
        <div class="content-item-preview-name">
            <%= name %>
        </div>
    </a>
</article>