<header>
    <h1 class="header">
        <a href="/">Cup & Pen</a>
    </h1>
    <% if (showDescription) { %>
        <div>A little website where I write stuff, share silly things, and blabber.</div>
    <% } %>
</header>