<header>
    <h1 class="header">
        <a href="/">Cup & Pen</a>
    </h1>
    <% if (showDescription) { %>
        <div class="header-description">A little website where I write stuff and blabber. Grab a cup and enjoy!</div>
    <% } %>
</header>