<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.common.ejs', { subtitle: content.name }); %>
<body>
    <%- include('partials/content.common.ejs', { data: content.data }); %>
</body>
</html>