<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.common.ejs', { subtitle: '' }); %>
<body>
    <div class="content-list">
        <% contentList.forEach(function(contentItem){ %>
            <div class="content-item">
                <%- include('partials/content.common.ejs', { data: contentItem.data }); %>
                <div class="content-item-read">
                    <a href="/content/<%= contentItem.name %>">
                        Read more...
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>