<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Writers Block - {Title}</title>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }
        .content-list {
            display: grid;
        }
        .content-item {
            max-width: 360px;
            max-height: 240px;
            overflow: hidden;
            opacity: 0.7;
            cursor: pointer;
            padding: 6px;
            border: 1px solid black;
            border-radius: 6px;
        }
        .content-item:hover {
            opacity: 1;
        }
        .content-item img {
            max-height: 300px;
            max-width: 400px;
        }
    </style>
</head>
<body>
    <div class="content-list">
        <% contentList.forEach(function(contentItem){ %>
            <div id=<%= contentItem.name %> class="content-item">
                <%- contentItem.data %>
            </div>
        <% }) %>
    </div>

    <script>

    </script>
</body>
</html>