*, *:before, *:after {
    box-sizing: border-box;
}
body {
    width: 80%;
    padding: 6px;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.nav a {
    padding: 12px;
    margin-right: 6px;
    border: 1px solid black;
}
.nav a:nth-child(odd) {
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.nav a:nth-child(even) {
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.nav a:last-of-type {
    margin-right: 0;
}
.content-item {
    height: 160px;
    overflow: hidden;
    padding: 6px;
    border: 3px solid black;
    border-radius: 6px;
    position: relative;
    margin-top: 6px;
}
.content-item:first-of-type {
    margin-top: 0;
}
.content-item-read {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: underline;
    background-color: white;
    border-style: solid;
    border-color: black;
    padding: 12px;
    border-width: 1px 0 0 1px;
    border-top-left-radius: 24px;
}
.content img {
    max-height: 300px;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}