*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 90%;
    padding: 6px;
    margin: 0 auto;
}

:root {
    --content-background-color: white;
    --content-border-color: black;
}

.header {
    text-align: center;
    background-color: var(--content-background-color);
    padding: 12px;
    border: 2px solid var(--content-border-color);
    border-radius: 0% 0% 100% 100%;
    margin: 0 auto 12px auto;
    max-width: 70%;
}
.header .header-title {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.nav a {
    padding: 12px;
    margin-right: 6px;
    border: 1px solid black;
}
.nav a:nth-child(odd) {
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.nav a:nth-child(even) {
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.nav a:last-of-type {
    margin-right: 0;
}

.content-item-preview {
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    margin-bottom: 6px;
}
.content-item-preview:last-of-type {
    padding: 0;
    border-bottom: none;
    margin: 0;
}
.content-item-preview .content-item-preview-link {
    display: flex;
    flex-direction: column;
}
.content-item-preview .content-item-preview-link .content-item-preview-name {
    font-weight: bold;
}
.content-item-preview read-ability {
    margin-left: auto;
}

.content-item {
    background-color: var(--content-background-color);
    padding: 16px;
    border: 2px solid var(--content-border-color);
    border-radius: 8px;
}
.content-item read-ability {
    --readability-margin: 0 0 16px 0;
}

/* markdown content template styles */
.content-item .content * {
    margin: 16px 0;
}
.content-item .content *:first-child {
    margin-top: 0;
}
.content-item .content *:last-child {
    margin-bottom: 0;
}

.content-item .content br {
    margin: 0 0 4px 0;
}
.content-item .content table {
    padding: 6px;
    border: 1px solid black;
    border-spacing: 8px;
}
.content-item .content img {
    max-height: 300px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}